src/main/app/simpletransaction.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3311" user="root" password="root" database="tutorialdb" doc:name="MySQL Configuration"/>
    <flow name="simpletransactionFlow2">

        <db:insert config-ref="MySQL_Configuration" doc:name="Database"  target="#[payload]" >
            <db:parameterized-query><![CDATA[INSERT INTO tutorials_tbl (tutorial_title, tutorial_author, submission_date) values (#[flowVars.title], #[flowVars.author], NOW());]]></db:parameterized-query>


        </db:insert>
        <logger message="db response&gt;&gt;&gt;&gt;&gt;&gt; #[dw('payload')] &gt;&gt;&gt;&gt;logger has been removed from flow1" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>

        <logger message="Result set #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="simpletransactionFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/transaction/*" doc:name="HTTP"/>
        <logger message="This is simple transacaton example" level="INFO" doc:name="Logger"/>
        <message-properties-transformer doc:name="Message Properties" scope="invocation">

            <add-message-property key="title" value="#[message.inboundProperties['http.query.params'].title]"/>
            <add-message-property key="author" value="#[message.inboundProperties['http.query.params'].author]"/>
        </message-properties-transformer>
        <flow-ref name="simpletransactionFlow2" doc:name="Flow Reference"/>

        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
    </flow>
</mule>
